<div class="card mb-4">
    <div class="card-wrapper">
        <div class="card-body p-1">
            <h6 class="card-title text-center mb-1">{{song.songName}}</h6>
            <p class="card-text text-muted text-center">{{song.artistName}}</p>
            <p class="card-text text-muted text-center">{{song.songUrl}}</p>
            <p class="card-text text-muted text-center">{{song.songRating}}</p>
            <p class="card-text text-muted text-center">{{song.isFavourite}}</p>
            <p class="card-text text-muted text-center">{{song.songEntered}}</p>
            <p class="card-text text-muted text-center">{{song.songEdited}}</p>
            <p class="card-text text-muted text-center">{{song.songCategory}}</p>
            <ul class="list-inline member-icons animate text-center">
                <li class="list-inline-item"><button routerLink='/song/{{song.songName}}' class="btn btn-primary">
                    <i class="fa fa-plus-square-o"></i></button>
                </li>
                <li class="list-inline-item"><button routerLink='/song/edit' class="btn btn-primary">
                    <i class="fa fa-pencil-square-o"></i></button>
                </li>
                <li class="list-inline-item"><button (click)="deleteSong(song.id)" class="btn btn-primary">
                    <i class="fa fa-trash-o"></i></button>
                </li>
            </ul>
            <button class="form-control" type="submit" (keyup)="loadSongs()" class="btn btn-success">Pogledaj</button>
        </div>
    </div>
</div>